h1{
    font-size: 40px;
    color: black;
    font-family: cursive;
}
h2{
    font-size: 30px;
    color: black;
    font-family: cursive;
    
}
/*#cardcontainer{
 cursor: pointer;
  height: 400px;
  perspective: 900;
 position: relative;
 width: 800px;

}
#card{
    height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 3s ease-in-out;
  width: 100%;
}
#card:hover {
  transform: rotateY(180deg);
}
#card .front {
  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
#card .back {
  background: #eaeaed;
  color: #000;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}*/